.forgotpassword {
  display: flex;
  margin: 10rem 40rem;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.forgotpassword h1 {
  font-size: 20px;
  font-weight: 700;
}
.forgotpassword img {
  padding-right: 5px;
}
#forgot-password {
  display: flex;
  border: 10px solid #f17228;
  background-color: #f17228;
  color: white;
  border-radius: 20px;
  justify-content: center;
  flex-direction: row;
  width: 360px;
  margin-top: 50px;
}
#forgot-password a {
  text-decoration: none;
  color: white;
}
#FPEmail {
  display: flex;
  border: #ffd7bf 1px solid;
  border-radius: 16px;
  width: 359px;
  margin-top: 10px;
  height: 40px;
}
.labelOfFP {
  padding-top: 20px;
}
