.row {
  display: flex;
  align-items: center;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
}
#nav-section {
  margin: 0 150px;
}
.nav-logo img {
  width: 50px;
}
.logo-title {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}
.search {
  display: flex;
  justify-content: center;
}
.nav-menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#search {
  border-radius: 10px;
  border: 1px solid #fbc5a6;
  background-color: white;
  width: 7rem;
}
#container {
  padding: 0%;
}
#search::placeholder {
  padding-left: 10px;
  color: grey;
  text-decoration: grey;
}
.btn-div {
  display: flex;
  justify-content: center;
}
.btn-div button {
  border: none;
  background-color: white;
}
.basket-btn img,
.login-btn img {
  padding-right: 10px;
}
/* .search-btn img {
  display: none;
} */
.basket-btn,
.login-btn {
  display: flex;
  align-self: center;
  color: rgb(241, 114, 40);
}
.login-btn img {
  padding-left: 10px;
}
.login-btn a,
.basket-btn a {
  text-decoration: none;
  color: rgb(241, 114, 40);
}
.login-img {
  height: 20px;
}
/* Small Devices */
@media only screen and (max-width>=576px) {
  #nav-section {
    margin: 0;
  }
  .search {
    display: none;
  }
  .basket-ptag,
  .login-ptag,
  .basket-img {
    display: none;
  }
  .search-img {
    display: inline-block;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav-section {
    margin: 0;
  }
  .search {
    display: none;
  }
  .basket-ptag,
  .login-ptag,
  .basket-img {
    display: none;
  }
  .search-img {
    display: inline-block;
  }
  #nav-logo {
    justify-content: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav-section {
    margin: 0;
  }
  .search {
    display: none;
  }
  .basket-ptag,
  .login-ptag,
  .basket-img {
    display: none;
  }
  .search-img {
    display: inline-block;
  }
}
/* Tablets */
@media only screen and (min-width: 768px) {
  #nav-section {
    margin: 0 75px;
  }
  .search {
    display: none;
  }
  .basket-ptag,
  .login-ptag {
    display: none;
  }
  .logo-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
  }
  .search-btn,
  .basket-img {
    display: inline-block;
  }
  .basket-img {
    width: 33px;
  }
  .search-btn {
    padding-right: 10px;
  }
  #nav-menu a {
    padding-right: 10px;
  }
}
/* Large devices */
@media only screen and (min-width: 992px) {
  .search {
    display: inline-block;
  }
  #navbarScroll {
    align-items: center;
    justify-content: center;
  }
  #nav-menu a {
    padding-right: 10px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #search {
    width: 10rem;
  }
  #navbarScroll {
    align-items: center;
    justify-content: center;
  }
  #nav-menu a {
    padding-right: 20px;
  }
  .search-img {
    display: none;
  }
  .basket-ptag,
  .login-ptag {
    display: inline-block;
  }
}
