#register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}
form h1 {
  display: flex;
  align-items: center;
}
form label {
  padding-bottom: 10px;
}
#name,
#mail,
#address,
#pwd,
#password {
  display: flex;
  border: #ffd7bf 1px solid;
  border-radius: 16px;
  width: 359px;
  margin-top: 7px;
  height: 40px;
}
#name,
#mail,
#address,
#pwd::placeholder,
#password::placeholder {
  padding-left: 20px;
}
form label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
}
#tandC input {
  border: 1px solid #f17228;
  box-sizing: border-box;
  border-radius: 5px;
  height: 10px;
  padding-top: 20px;
}
#tandC input:checked {
  background-color: #f17228;
}
.tandC {
  display: flex;
  justify-content: center;
}
.register-h1 {
  color: #f17228;
}
.register-h1 img {
  padding-right: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .termAndCond {
    margin-bottom: 20px;
  }
  .register-h1 {
    font-size: 25px;
    font-weight: 500;
  }
  .register-h1 img {
    padding-right: 5px;
  }
}
/* Tablets */
@media only screen and (min-width: 768px) {
  .termAndCond {
    text-decoration: none;
    color: #f17228;
  }
}
